<header class="header">
  <span class="header-icon">
    <a routerLink="/" class="button-round">
      <i class="material-icons">arrow_back</i>
    </a>
  </span>
  <h1 class="header-title">{{ tune.name }}</h1>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <a 
    *ngIf="previousTuneIndex" 
    [routerLink]="['/challenges', previousTuneIndex]"
    class="footer-link"
  >
    <i class="material-icons">chevron_left</i> Previous challenge 
  </a>
  <a
    *ngIf="nextTuneIndex"
    [routerLink]="['/challenges', nextTuneIndex]"
    class="footer-link"
  >
    Next challenge <i class="material-icons">chevron_right</i>
  </a>
</footer>