<header class="page-header page-header-split" *ngIf="!isComplete">
  <h2 class="note">♪ = <span class="note-text" [innerHTML]="note | noteSymbol"></span></h2>
  <h2 class="note">{{ noteDifference }}</h2>
</header>
<header class="page-header" *ngIf="isComplete">
  Congratulations! You sang it all correctly!
</header>

<main class="content">
  <div class="tune">
    <div 
      class="tune-part" 
      *ngFor="let part of tune; let index = index"
      [ngClass]="{current: index === currentIndex}"
    >
      <div class="tune-syllable">{{ part.syllable }}</div> 
      <div class="tune-note">{{ part.note.name }}</div>
    </div>
  </div>

  <button 
    *ngIf="!isComplete" 
    class="button" 
    type="button" 
    (click)="cheat()"
  >Give me a hint!</button>
</main>