<header class="page-header" *ngIf="!isComplete">
  <h2 class="note">
    <i class="material-icons md-48">audiotrack</i> <span [innerHTML]="note | noteSymbol"></span>
    <semitone-delta [delta]="noteDifference"></semitone-delta>
  </h2>

</header>
<header class="page-header" *ngIf="isComplete">
  <h2 class="note">
    Congratulations! You sang it all correctly!
    <a routerLink="/" class="button">Try another</a>
  </h2>
</header>

<main class="content">
  <p class="tune-hint">
    <strong>Hint:</strong>
    To hear how the note should sound, press
    <i class="material-icons md-16">volume_up</i> next to the note.
  </p>
  <div class="tune">
    <div
      class="tune-part"
      *ngFor="let part of tune; let index = index"
      [ngClass]="{current: index === currentIndex}"
    >
      <div class="tune-syllable">{{ part.syllable }}</div>
      <div class="tune-note">
        <span [innerHTML]="part.note.name | noteSymbol"></span>
        <i
          *ngIf="!isComplete && index === currentIndex"
          (click)="cheat()"
          class="material-icons md-16 clickable"
        >volume_up</i>
      </div>
    </div>
  </div>
</main>
