<main class="content">
  <h3>Let's get started!</h3>

  <p>
    Please sing, hum or whistle the note you'd like to start singing on. 
    The note will appear next to the <i class="material-icons">audiotrack</i> symbol.
    </p>
  <p>When you're happy press <strong>Pick starting note</strong></p>

  <section class="side-by-side">
    <h2 class="note">
      <i class="material-icons md-48">audiotrack</i>
      <span class="note-text" [innerHTML]="note | noteSymbol"></span>
    </h2>

    <button class="button" type="button" [disabled]="!note" (click)="setSelectedNote(note)">
      Pick starting note
    </button>
  </section>

  <section class="note-selected" *ngIf="isNoteSelected">
    <h3>Starting note: {{ selectedNoteName }} <i class="material-icons clickable" (click)="playSelectedNote()">volume_up</i></h3>
    <p>Once you're happy with the note, hit <strong>Start challenge</strong>.</p>
    <div class="buttons" *ngIf="canTransposeTune">
      <a class="button" [routerLink]="['./sing', selectedNoteName]">
        Start challenge
      </a>
    </div>
    <p class="extra-info" *ngIf="!canTransposeTune">
      <strong>Warning</strong> The starting note you have chosen will take the tune out of range. Please choose another starting note (probably lower!)
    </p>
  </section>
</main>
