@import "functions/material-color";


html {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: rgba(black, 0.87);
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0 0 1.25rem;
  line-height: 1.25;
}

p {
  font-size: 1.25rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}

ul {
  margin-bottom: 1rem;
}

%with-links {
  a {
    color: material-color(purple, A700);

    &:hover,
    &:focus {
      color: material-color(purple, A400);
    }
  }
}

li {
  @extend %with-links;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}

%flex-column {
  display: flex;
  flex-direction: column; 
}

app-root {
  @extend %flex-column;
  width: 100%;
  min-height: 100vh;
  background: material-color(blue-grey, 50);
}

hr {
  border-top: 1px solid material-color(blue-grey, 100);
  margin: 1rem 0;
}

.extra-info {
  @extend %with-links;
  font-size: 1rem;

  strong {
    font-weight: 500;
    text-transform: uppercase;
  }
}


app-challenge {
  @extend %flex-column;
  height: 100vh; 
}


%flex-spring {
  flex: 1 1 auto;
  overflow-y: auto;
}

app-challenge-start {
  @extend %flex-spring;
}

app-singing {
  @extend %flex-column;
  @extend %flex-spring;
}


.content {
  @extend %flex-spring;
  padding: 1.5rem;
}
